$break-small: 320px;
$break-large: 1200px;
$fontsize: 18px;
html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    .logo-panel{
        padding: 10px;
        .slogan{
            padding: 20px;
            line-height: 30px;
            h1{
                color: #fa2200;
                font-size: 34px;
                font-family: 'Dancing Script', cursive;
                font-weight: 600;
            }
            h2{
                color: #fa2200;
                font-size: 16px;
                font-family: 'Sriracha', cursive;
            }
        }
    }
    
}
.navbar-default {
    background-color: transparent;
    border: none;
    .primary-menu {
        margin: 0;
        padding: 0;
    }
    .navbar-nav > li {
        > .a-nav {
            color: #fff;
            background-color: #fc7a02;
            margin: 0;
            border-radius: 0;
            font-size: $fontsize;
            line-height: 20px;
            font-weight: 600;
            height: 63px;
            text-align: center;
            padding: 15px 40px;
            font-family: 'Open Sans', sans-serif;
            @media screen and (max-width: $break-large) {
                height: 50px;
                padding: 15px 28px;
                line-height: 15px;
                font-size: $fontsize*0.75;
            }
            &:hover {
                color: #fff;
                background-color: #dd460b;
            }
            &:active {
                color: #fff;
                background-color: #dd460b !important;
            }
            &:focus {
                color: #fff;
                background-color: #dd460b;
            }
        }
        &:last-child > .a-nav {
            border-radius: 0 80px 0 0;
            padding-right: 80px;
            @media screen and (max-width: $break-large) {
                border-radius: 0;
                padding-right: 10px;
            }
        }
    }
}
header > .header-bar {
    .login-header {
        font-family: 'Open Sans', sans-serif;
        background-color: #fa2200;
        padding: 10px 15px;
        span{
            color: #fff;
            text-transform: uppercase; 
        }
    }
    .login-body {
        font-family: 'Open Sans', sans-serif;
        padding: 3px 0;
        overflow: hidden;
        background-color: #e7e7e7;
        input{
            height: 20px;
            margin: 5px;
        }
        .login-panel{
            font-size: 10px;
            padding: 4px ;
            margin: 0 ;
            #btn-login{
                background-color: #fa2200;
                padding: 6px;
                border-radius: 5px;
                color: #fff;
                border: 0;
            }
            #btn-sigup{
                color: #fa2200;
                font-weight: 600;
            }
        }
    }
    .search-box {
        background: url(/assets/img/home-search-bg.png) no-repeat;
        background-size: 100% 100%;
        padding: 10px;
        .search-title {
            font-family: 'Sriracha', cursive;
            text-align: center;
            font-size: 32px;
            padding: 5px;
        }
        .search-input-container {
            overflow: hidden;
            padding: 0 0 0 10%;
            margin: 3px;
            > {
                .search-input {
                    float: left;
                    width: 85%;
                    padding: 5px 0;
                    border: none;
                    text-align: center;
                    line-height: 20px;
                }
                #search-btn {
                    float: left;
                    width: 30px;
                    height: 30px;
                    border: none;
                    padding: 0;
                    background: none;
                }
            }
        }
    }
}
footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    .foot_bg {
        background-color: red;
        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            ul {
                margin: 0;
                padding: 10px 0 7px 102px;
                list-style: none;
                float: left;
                li {
                    display: inline-block;
                    padding: 0 12px;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
    p {
        float: right;
        width: 450px;
        font-size: 10px;
        color: #fff;
        font-weight: 700;
        margin: 0;
        padding: 14px 0 0;
    }
}
